<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.paqus.paqusd</string>
  <key>ProgramArguments</key>
  <array>
    <string>__BINARY__</string>
    <string>node</string>
    <string>run</string>
    <string>__DATA__</string>
    <string>--config</string>
    <string>__CONFIG__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__DATA__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG__</string>
  <key>StandardErrorPath</key>
  <string>__LOG__</string>
</dict>
</plist>
